.dashboard-title {
  color: var(--orange-orange-500, #ff7506);

  /* 24/24 Bold */
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  position: absolute;
  top: 75px;
}
.dashboard-text {
  color: var(--gray-gray-400-text, #535261);

  /* 14/14 Bold */
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
}
.dashboard-number {
  color: var(--gray-gray-400-text, #535261);

  /* 30/30 Bold */
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 150% */
}
.percent {
  width: 50px;
  height: 20px;
  border-radius: 7.181px;
  background: rgba(255, 149, 1, 0.15);
  margin-left: 25px;
  text-align: center;
}
.text-right-dashboard {
  color: var(--orange-orange-500, #ff7506);

  /* 24/24 Bold */
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  margin-left: 30px;
}
.card-right {
  border-radius: 12px;
  background: var(--white, #fff);
  box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.1);
  width: 400px;
  margin-left: 25px;
  height: 100px;
}
.chart-card {
  width: 800px; /* Điều chỉnh giá trị chiều rộng tùy theo mong muốn */

  /* Pink shadow */
  box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.1);
  margin-top: 10px;
}
.chart-card-text {
  color: var(--gray-gray-500, #282739);

  /* 20/20 Bold */
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}
.chart-card-xt {
  color: var(--gray-gray-500, #282739);

  /* 16/16 Semi */
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
